SIGLOG_HOTSPOT_SSID=siglog-pi
SIGLOG_HOTSPOT_PASSWORD=changeme8
SIGLOG_HOME_PRIO=200
SIGLOG_HOTSPOT_PRIO=50
SIGLOG_LAT=52.52
SIGLOG_LON=13.405
SIGLOG_GPS=0
GITHUB_REPO=brandesdavid/siglog
GITHUB_BRANCH=main
SIGLOG_PI_DIR=
